<h1>Mood Lines</h1>

<% if !@moods.empty? %>
  <script type="text/javascript">
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= @moods.inspect.html_safe %>);

      var options = {
        title: 'Mood Tracker',
        curveType: 'function',
        legend: { position: 'bottom' },
        series: {
          0: { lineWidth: 16},
          1: { lineWidth: 8},
          2: { lineWidth: 4},
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>

  <div id="curve_chart" style="width: 900px; height: 500px"></div>
<% end %>

<%= form_for :input, url: {action: 'create'} do |f| %>
  <h2>My happiness is:</h2>

  <%= radio_button_tag(:happiness, '-1') %>
  <%= label_tag(:happiness_worse, 'worse than yesterday') %>

  <%= radio_button_tag(:happiness, '0', checked = true) %>
  <%= label_tag(:happiness_same, 'the same as yesterday') %>

  <%= radio_button_tag(:happiness, '1') %>
  <%= label_tag(:happiness_better, 'better than yesterday') %>

  <h2>My energy is:</h2>

  <%= radio_button_tag(:energy, '-1') %>
  <%= label_tag(:energy_worse, 'worse than yesterday') %>

  <%= radio_button_tag(:energy, '0', checked = true) %>
  <%= label_tag(:energy_same, 'the same as yesterday') %>

  <%= radio_button_tag(:energy, '1') %>
  <%= label_tag(:energy_better, 'better than yesterday') %>

  <h2>My motivation is:</h2>

  <%= radio_button_tag(:motivation, '-1') %>
  <%= label_tag(:motivation_worse, 'worse than yesterday') %>

  <%= radio_button_tag(:motivation, '0', checked = true) %>
  <%= label_tag(:motivation_same, 'the same as yesterday') %>

  <%= radio_button_tag(:motivation, '1') %>
  <%= label_tag(:motivation_better, 'better than yesterday') %>

  <p>
    <%= f.submit %>
  </p>
<% end %>